.wd-search-bar {
    color: darkgrey;
    border-radius: 50px;
}

.wd-search-offset {
    padding-left: 30px;
}

.wd-search-icon {
    position: absolute;
    margin: 10px;
    padding-left: 10px;
}

.wd-img-size {
    width: 50%;
    height: 50%
}

.wd-post-box {
    color: black;
}

.wd-author-post {
    float: left;
    width: 100%;
    margin-right: 16px;
}

.wd-post-image {
    height: 100px;
    width: 100px;
    padding-right: 16px;
    float: right;
    border-radius: 25px;
}

.wd-follow-image {
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

.wd-follow-button {
    margin-top: 25%;
}

.wd-topic-text {
    color: #6E767D;
    font-size: 13px;
}